//set the color map here

$themeName: 'default';

$b-0: #000;
$f-0: #eee;
$fh-0: rgba(255, 255, 255, .6);

$b-1: #131313;
$f-1: #eee;

$b-2: #181818;
$f-2: #eee;

$b-10: #1D89E8;
$f-10: #fff;

$b-11: #17BF63;
$f-11: #fff;

$b-12: #DE2A42;
$f-12: #fff;

$borderColor: #252525;

$lightFeedback: rgba(255, 255, 255, .1);
$darkFeedback: rgba(0, 0, 0, .1);
$feedback: $lightFeedback;

$closeTriggerColor: rgba(0, 0, 0, .8);
$strongShadow: 0 0 10px 0 rgba(0, 0, 0, .4);
$popUpGlow: 0 0 10px 0 rgba(255, 255, 255, .3);

@import 'main';